/*
 * Font Name: Inter
 * Source: https://github.com/rsms/inter
 * Author: Rasmus Andersson (https://github.com/rsms)
 * Contributors: https://github.com/rsms/inter/graphs/contributors?all=1
 * License: SIL Open Font License 1.1
*/

/* Static font fallback for older browsers */
@font-face {
  font-family: "Inter-static";
  src: url("../assets/fonts/static/Inter-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Inter-static";
  src: url("../assets/fonts/static/Inter-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Inter-static";
  src: url("../assets/fonts/static/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}

/* Variable font for modern browsers */
@font-face {
  font-family: "Inter-variable";
  src: url("../assets/fonts/Inter-VariableFont_slnt\,wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-display: swap;
}

:root {
  --c-green: oklch(91.127% 0.21624 123.808);
  --c-white: oklch(100% 0.00011 271.152);
  --c-grey-700: oklch(32.109% 0.00004 271.152);
  --c-grey-800: oklch(23.929% 0.00003 271.152);
  --c-grey-900: oklch(19.125% 0.00002 271.152);

  --font-static: "Inter-static", sans-serif;
  --font-variable: "Inter-variable", sans-serif;

  --fs-12: calc(12 / 16 * 1rem);
  --fs-14: calc(14 / 16 * 1rem);
  --fs-16: calc(16 / 16 * 1rem);
  --fs-18: calc(18 / 16 * 1rem);
  --fs-20: calc(20 / 16 * 1rem);
  --fs-22: calc(22 / 16 * 1rem);
  --fs-24: calc(24 / 16 * 1rem);

  --fw-regular: 400;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  --spacing-12: calc(12 / 16 * 1rem);
  --spacing-16: calc(16 / 16 * 1rem);
  --spacing-22: calc(22 / 16 * 1rem);
  --spacing-24: calc(24 / 16 * 1rem);

  --radius-8: calc(8 / 16 * 1rem);
  --radius-14: calc(14 / 16 * 1rem);
  --radius-circle: 50%;

  --c-text-primary: var(--c-white);
  --c-text-secondary: var(--c-green);
  --c-body-bg: var(--c-grey-900);
  --c-profile-bg: var(--c-grey-800);
  --c-link-bg: var(--c-grey-700);
  --c-link-bg-hover: var(--c-green);
  --c-link-text-hover: var(--c-grey-700);

  --ff-primary: var(--font-static);

  --fs-profile-name: var(--fs-24);
  --fs-profile-location: var(--fs-14);
  --fs-profile-bio: var(--fs-14);
  --fs-profile-link: var(--fs-14);

  --fw-profile-name: var(--fw-bold);
  --fw-profile-location: var(--fw-bold);
  --fw-profile-bio: var(--fw-regular);
  --fw-profile-link: var(--fw-bold);
}

@supports (font-variation-settings: normal) {
  :root {
    --ff-primary: var(--font-variable);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

body {
  line-height: 1.5;
  font-family: var(--ff-primary);
  background-color: var(--c-body-bg);
  min-height: 100dvh;
  display: flex;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile {
  background-color: var(--c-profile-bg);
  padding: var(--spacing-24);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-22);
  border-radius: var(--radius-14);
  width: min(88%, 330px);
}

.profile__intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-22);
}

.profile__image {
  width: 90px;
  border-radius: var(--radius-circle);
}

.profile__info {
  text-align: center;
  line-height: 1.7;
}

.profile__name {
  font-weight: var(--fw-profile-name);
  font-size: var(--fs-profile-name);
  color: var(--c-text-primary);
}

.profile__location {
  font-weight: var(--fw-profile-location);
  font-size: var(--fs-profile-location);
  color: var(--c-text-secondary);
}

.profile__bio {
  font-weight: var(--fw-profile-bio);
  font-size: var(--fs-profile-bio);
  color: var(--c-text-primary);
}

.profile__socials {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-16);
  list-style-type: none;
  padding: 0;
}

.profile__item {
  display: flex;
}

.profile__link {
  font-weight: var(--fw-profile-link);
  font-size: var(--fs-profile-link);
  color: var(--c-text-primary);
  background-color: var(--c-link-bg);
  text-decoration: none;
  border-radius: var(--radius-8);
  flex-grow: 1;
  text-align: center;
  padding: var(--spacing-12) 0;
}

.profile__link--hover {
  transition: background-color 0.3s ease;
}

.profile__link--hover:hover {
  background-color: var(--c-link-bg-hover);
  color: var(--c-link-text-hover);
}

.profile__link--focus:focus {
  background-color: var(--c-link-bg-hover);
  color: var(--c-link-text-hover);
}
